@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}


/* Swiper Custom CSS */
/* .swiper {
  overflow: visible !important;
}

.swiper-slide {
  transition: all 0.4s ease;
  opacity: 0.3;
  transform: scale(0.92);
}

.swiper-slide-active,
.swiper-slide-next,
.swiper-slide-prev {
  opacity: 1;
  transform: scale(1);
}
 */










/* Hide scrollbar for Webkit (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}











.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 4px;
  display: none;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 transparent;
}